:root {
  --primary-font: "Rajdhani", Arial, Helvetica, sans-serif;
  --gradient-primary: radial-gradient(
    circle 311px at 8.6% 27.9%,
    rgba(62, 147, 252, 0.57) 12.9%,
    rgba(239, 183, 192, 0.44) 91.2%
  );
  --primary-color: rgb(125, 131, 255);
  --grey-color: rgb(34, 34, 34);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: var(--primary-font);
}

body {
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  border: none;
  background-color: transparent;
}

img {
  max-width: 100%;
}
